*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
img {
    width: 100%;
}
:root {
    --bg: hsl(0, 0%, 98%);
    --bg-offset: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --gray: hsl(0, 0%, 52%);
    --border: rgba(0, 0, 0, 0.1);
}
ul,
ol {
    list-style: none;
}
body {
    background: var(--bg);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}
h1,
h2 {
    heigh: 12px;
}

.wrapper {
  width: 80%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: 0.3s ease;
}


.card-grid {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 3px;
}

.card {
    transform: scale(0.98);
    background-color: var(--bg-offset);
    margin: 7px;
    padding: 5px;
    box-shadow: 0px 2px 4px var(--border);
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        transform: scale(1.0);

        .card-content {
            h2 {
                display: block;
                -webkit-line-clamp: none;
                -webkit-box-orient: none;
                overflow: visible;
            }
        }
    }
}
.card-image {
    max-height: 150px;
    overflow: hidden;
}
.card-image img {
    margin-top: 0px;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card-content {
    padding: 15px 10px;

    h2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.card-list {
    margin-top: 10px;

    li {
        color: var(--text);
        margin-top: 5px;

        span {
            color: var(--gray);
        }
    }
}


.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


  
@media (max-width: 375px) {
  .search-input {
      width: 100%;
  }
  .header {
      justify-content: start;
      flex-wrap: wrap;
  }
  .react-select {
      margin-top: 0.1em;
  }
}



.search-input {
  
  width: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==");
  background-color: var(--bg-offset);
  background-size: 16px 16px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1;
  padding: 1.3em 2em;
  padding-left: 2.7em;
  border: 1px solid var(--border);
  color: var(--gray);
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 14px;
  border-radius: 4px;

  &:hover {
      box-shadow: 0px 0px 0px var(--border);
  }
}


  .expandable-filter1 {
    min-width: 15ch;
    max-width: 50ch;
    cursor: pointer;
    line-height: 1;
    background-color: transparent;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 6px var(--border);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
        box-shadow: 0px 0px 0px var(--border);
    }


  }
  
  

.reset-filters-btn {
  background-color: #ff6347;
  max-width: 20ch;
  min-width: 10ch;
  color: white;
  object-position: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.reset-filters-btn:hover {
  background-color: #ff4500;
}  


/* Header toggle button */
.header-toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    z-index: 100;
  }
  
  .header-toggle-btn .hamburger-line {
    width: 30px;
    height: 4px;
    background-color: #333;
    transition: 0.3s;
  }
  
  .header-toggle-btn.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }
  
  .header-toggle-btn.active .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  
  .header-toggle-btn.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
  
  
  
  
  .header {

    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    justify-content: space-between;
    
    position: fixed; 
    top: -100%; /* Initially hidden */
    padding-left: 0px;
    padding-right: 0px;
    background: #fff;
    
    transition: top 0.3s ease;
    z-index: 10;
    margin: 10px 0px;
  
  
 
  }
  
  .header.show {
    top: 0px; /* Set it to the desired height */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    
  }

  
  .content {
    margin-top: 5px;
    transition: margin-top 0.3s ease;
  }
  
  .content.shifted {
    margin-top: 50px; /* Adjust this value to match the header's height */
  }  

  @media (max-width: 1024px) {
    .header {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row on medium screens */
  }
    .content.shifted {
    margin-top: 110px;
  }
  }
  
  @media (max-width: 600px) {
    .header {
      grid-template-columns: 1fr; /* 1 item per row on small screens */
  }
    .content.shifted {
    margin-top: 220px;
  }
  }
